<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="kerbalData" type="KerbalData.Configuration.ApiConfig, KerbalData"/>
  </configSections>
  <kerbalData>
    <processors>
      <processor index="0">
        <serializer type="KerbalData.Serializers.V018x.DataSerializer, KerbalData.Serializers"/>
        <converter type="KerbalData.Serializers.V018x.JsonModelConverter`1, KerbalData.Serializers"/>
      </processor>
      <processor index="1" modelType="Newtonsoft.Json.Linq.JObject, Newtonsoft.Json">
        <serializer type="KerbalData.Serializers.V018x.DataSerializer, KerbalData.Serializers"/>
        <converter type="KerbalData.Serializers.V018x.JsonObjectConverter`1, KerbalData.Serializers"/>
      </processor>      
    </processors>
  </kerbalData>
</configuration>